<h2>Hometask</h2>

<style>
    table {  font-family: arial, sans-serif;  border-collapse: collapse;  width: 100%;  margin-top: 30px;}
    td, th {  border: 1px solid #dddddd;  text-align: left;  padding: 8px;  }
    /*tr:nth-child(even) { background-color: #dddddd; }*/
    .post-id{width:2%} .post-name{width:30%}

</style>
<table>
<?php
$fieldNumbers = 3;
for ($i = 1; $i <= $fieldNumbers; $i++): ?>
    <?php $methodName = 'getTestValue' . $i ?>
    <tr>
        <td class="test-field">test<?= $i ?> </td>
        <td class="test-field"><?php echo $block->$methodName();?></td>
    </tr>
<?php endfor; ?>
</table>
</body>
</html>
